#content {
	margin: 203px 1px;
}
nav {
	background-color: #40434e;
	/* color: white; */
	font-family: 'Castoro', serif;
}
.nav-link {
	color: white;
}
.box {
	width: 20em;
	height: 10em;
	box-shadow: 0 10px 10px #000;
	border-radius: 10px 10px 10px 10px;
	background: linear-gradient(45deg, #582401, #fff01d);
}
.box:hover {
	animation-iteration-count: 4;
	animation-name: box;
	animation-duration: 5s;
	animation-fill-mode: forwards;
}
@keyframes box {
	0% {
		background: linear-gradient(45deg, #00e038, #f0ff00);
	}
	20% {
		background: linear-gradient(45deg, #0f13dd, #ee102e);

		background: linear-gradient(45deg, #0f13dd, #ee102e);
	}
	40% {
		background: linear-gradient(45deg, #e28409, #087b83);
	}
	60% {
		background: linear-gradient(45deg, #5e7062, #92535b);
	}
	80% {
		background: linear-gradient(45deg, #dde0de, #09885e);
	}
	100% {
		background: linear-gradient(45deg, #00e038, #f0ff00);
	}
}
.shape {
	animation-name: shape;
	animation-duration: 10s;
	position: absolute;
	margin: auto;
	width: 8%;
	height: 35%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgb(248, 188, 188);
	border-radius: 50%;
	box-shadow: 25px 30px 30px 10px black;
}
@keyframes shape {
	0% {
		background-color: blue;
		top: 0%;
		left: 0px;
	}
	50% {
		background-color: chartreuse;
		top: 50%;
		left: 25px;
	}
	100% {
		background-color: chartreuse;
		top: -50%;
		left: -25px;
	}
}
.shape::after {
	content: " CSS ";
	text-align: inherit;
	width: 60%;
	height: 60%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0%;
	margin: auto;
	border-radius: 50%;
	position: absolute;
	background-color: rgb(8, 8, 8);
}
.shape::before {
	content: " ";
	color: rgb(0, 0, 0);
	margin: auto;
	width: 100%;
	height: 50%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 40%;
	background-color: rgb(255, 255, 255);
	border-radius: 50%;
	position: absolute;
}
.shape2 {
	animation-name: shape2;
	animation-duration: 10s;
	animation-play-state: running;
	position: absolute;
	margin: auto;
	width: 8%;
	height: 35%;
	top: 0;
	bottom: 0;
	left: 300px;
	right: 0;
	background-color: rgb(248, 188, 188);
	border-radius: 50%;
	box-shadow: 25px 30px 30px 10px black;
}
@keyframes shape2 {
	0% {
		background-color: blue;
		top: 0%;
		right: 0px;
	}
	50% {
		background-color: chartreuse;
		top: 50%;
		right: 25px;
	}
	100% {
		background-color: chartreuse;
		top: -50%;
		right: -25px;
	}
}
.shape2::after {
	content: " Shapes";
	text-align: inherit;
	width: 60%;
	height: 60%;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
	border-radius: 50%;
	position: absolute;
	background-color: rgb(8, 8, 8);
}
.shape2::before {
	content: "CSS ";
	color: rgb(0, 0, 0);
	margin: auto;
	width: 100%;
	height: 50%;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 40%;
	background-color: rgb(255, 255, 255);
	border-radius: 50%;
	position: absolute;
}
.animation {
	content: "Animation";
	color: rgb(255, 255, 255);
	margin: auto;
	width: 10%;
	height: 35%;
	border-radius: 50%;
	top: 0;
	bottom: 0;
	left: 60%;
	right: 0;
	background-color: rgb(199, 40, 40);
	position: absolute;
	animation-name: anim;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(.32, .62, .96, .54);
}
.animation::after {
	content: "ANIMATION";
	font-size: 24px;
}
@keyframes anim {
	0% {
		background: linear-gradient(45deg, #5e7062, #92535b);
		top: 0;
	}
	50% {
		background: linear-gradient(45deg, #f3f3f3, #21f144);
		top: 100%;
		width: 5%;
		height: 5%;
	}
	100% {
		background: linear-gradient(45deg, #0852f1, #fc0526);
	}
}
